/* src/ShopProfile.css */

.shop-profile {
    text-align: center;
  }

  .cover-photo img {
    width: 100%;
    cursor: pointer;
  }

  .profile-picture {
    margin: -75px auto 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .profile-picture img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  h1 {
    margin: 20px 0;
  }

  p {
    color: #666;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-image {
    max-width: 100%;
    max-height: 100vh;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
